body {
	background-color: #fe001a;
	color: white;
}

h1, h2, h4 {
	color: white;
}

h3 {
	color: black;
}

#test {
	color: black;
}

#answer {
	color: black;
}

.container img {
	float: absolute;
	width: 800px;
	height: 350px;
	margin: -60px 0px 0px -450px;
}

.col-lg-4 {
	float: left;
	margin: 0px 0px 0px 40px;
}